02_data_scientist_post/Udacity Reviews.pdf
04_02_etl_pipeline/2_extract_exercise/.ipynb_checkpoints/2_extract_exercise-checkpoint.ipynb
04_02_etl_pipeline/2_extract_exercise/2_extract_exercise-solution.ipynb
04_02_etl_pipeline/3_sql_exercise/.ipynb_checkpoints
