02_data_scientist_post/Udacity Reviews.pdf
04_02_etl_pipeline/2_extract_exercise/.ipynb_checkpoints/2_extract_exercise-checkpoint.ipynb
04_02_etl_pipeline/2_extract_exercise/2_extract_exercise-solution.ipynb
04_02_etl_pipeline/3_sql_exercise/.ipynb_checkpoints
04_02_etl_pipeline/4_api_exercise/.ipynb_checkpoints/4_api_exercise-checkpoint.ipynb
04_02_etl_pipeline/5_combinedata_exercise/.ipynb_checkpoints/5_combining_data-checkpoint.ipynb
04_02_etl_pipeline/5_combinedata_exercise/5_combining_data-solution.ipynb
04_02_etl_pipeline/8_parsingdates_exercise/.ipynb_checkpoints/8_parsingdates_exercise-checkpoint.ipynb
04_02_etl_pipeline/8_parsingdates_exercise/8_parsingdates_exercise-solution.ipynb
04_02_etl_pipeline/7_datatypes_exercise/.ipynb_checkpoints
04_02_etl_pipeline/6_cleaningdata_exercise/.ipynb_checkpoints
04_02_etl_pipeline/6_cleaningdata_exercise/6_cleaning_data-solution.ipynb
04_02_etl_pipeline/9_encodings_exercise/.ipynb_checkpoints
04_02_etl_pipeline/9_encodings_exercise/test.csv
04_04_ml_pipeline/.ipynb_checkpoints
04_04_ml_pipeline/__pycache__
